<div class="principal">
    <div class="header">
        <img src="../../../assets/LogoPrincipal.png" alt="">

        <button class="firstbutton"> 
            Probar MyCamp 
        </button>
    </div>

    <div class="header2">
        <h1 >
            Todos los productos <br> 
            naturales en un solo <br> 
            lugar
        </h1>
    </div>

    <div class="header3">
        <h1 >
            Desde frutas hasta carnes  en cualquier parte del Perú
        </h1>
    </div>

    <div class="header4">
        <h1 >
            Prueba MyCamp y encuentra lo que buscas a un buen precio
        </h1>
    </div>

    <div class="secondbutton">
        <button class="buttonfunction"> 
            Probar MyCamp 
        </button>
    </div>

</div>

<div class="First_body">
    <div>
        <h1 class="First_body1">
            Olvidate de los precios altos
        </h1>
    
        <h1 class="First_body2">
            Al contar directamente con los <br> 
            agricultores, compraras tus productos en su <br>
            precio real evitando el incremento de costos <br>
            que se muestran en los supermercados
        </h1>
    </div>

    <img src="../../../assets/img1.png" alt="">
</div>

<div class="Second_body">

    <img src="../../../assets/img2.png" alt="">

    <div>
        <h1 class="Second_body1">
            Compra tus productos en <br>
            cualquier parte del Perú
        </h1>
    
        <h1 class="Second_body2">
            MyCamp cuenta con presencia en todos los <br> 
            departamentos del Perú, estés donde estés, <br>
            siempre tendrás un lugar dónde comprar.
        </h1>
    </div>
</div>

<div class="Third_body">
    <div>
        <h1 class="Third_body1">
            Consigue todo lo que <br>
            quieras en un solo lugar
        </h1>
    
        <h1 class="Third_body2">
            Gracias a la amplia cantidad de vendedores <br> 
            dentro de la plataforma te aseguramos que <br>
            encontraras todas las frutas, verduras,  <br>
            tubérculos, alimentos naturales, carnes y <br>
            menestras que desees comprar.
        </h1>
    </div>

    <img src="../../../assets/img3.png" alt="">
</div>

<div class="Fourth_body">
    <div class="button_final">
        <button>
            Mostrar Todo
        </button>
    </div>

    <div class="fbandig">
        <img src="../../../assets/facebook.png" alt="" class="fb">
        <img src="../../../assets/instagram.png" alt="" class="ig">
    </div>

    <div class="lastwords">
        <h1>
            Copyright © 2023. MyCamp
        </h1>
    </div>

</div>
